body {
    background-color: #FBE79C;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.button {
    padding: 16px 32px;
    background-color:#ffffff00;
}

.buttonStyle {
    border: 6px solid #81663E;
    background-color: #ecc07a;
}

.accordionTitle {
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.accordionTitle + .accordionContent {
    display: none;
}

.accordionTitle.is-open + .accordionContent {
    display: block;
}