body {
    background-color: #FBE79C;
    font-family: Arial, Helvetica, sans-serif;
}


.accordionTitle {
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.accordionTitle + .accordionContent {
    display: none;
}

.accordionTitle.is-open + .accordionContent {
    display: block;
}